@using PearlTech.Framework.Models
@model IEnumerable<Customer>


@{
    ViewBag.Title = "Customer Information";
    Customer searchCustomer = new Customer { Id = 0, FirstName = null, LastName = null, CustomerNumber = default(int), Orders = null };
}

<h2>Customer Information</h2>

<div class="clearfix">
    <div class="container">
        <a href="@Url.Action("Create", "Customers")" class="btn btn-info btn-sm">
            <span class="glyphicon glyphicon-plus"></span> Add Customer
        </a>
    </div>
</div>

<div class="form-horizontal col-md-4 pull-right" id="customer-search">
    <form method="GET">
        <fieldset>
            <legend>Search for Customer</legend>
            <div class="form-group">
                <label>First Name</label>
                @Html.TextBox("FirstName", searchCustomer.FirstName)
            </div>
            <div class="form-group">
                <label>Last Name</label>
                @Html.TextBox("LastName", searchCustomer.LastName)
            </div>
            <div class="form-group">
                <label>Customer Number</label>
                @Html.TextBox("CustomerNumber", "")
            </div>
            <div class="form-group">
                <input type="submit" value="Search Customers"/>
            </div>
        </fieldset>
    </form>
</div>

<table class="table-condensed table-bordered" id="customer-table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CustomerNumber)
        </th>
        <th>Customer Actions</th>
    </tr>
    @foreach (var customer in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => customer.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => customer.CustomerNumber)
            </td>
            @{
                string detailsId = customer.Id + "orderDetails";
            }

            <td>
                <a href="@Url.Action("Edit", new {id = customer.Id})" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-pencil"></span> Edit Customer
                </a>
                <button type="button" data-toggle="collapse" data-target="#@detailsId" class="btn btn-info btn-sm">
                    <span class="glyphicon glyphicon-shopping-cart"></span> View Orders
                </button>
            </td>
        </tr>
        <tr class="collapse" id="@detailsId">
            @Html.Partial("_Orders", customer.Orders)
        </tr>
    }
</table>
    






